<div class=welcome><h1>Welcome to The Tavern!</h1></div>
<p class="frontpage">Have a look at our menu please!</p>
<img src="https://www.asialifemagazine.com/vietnam/wp-content/uploads/sites/4/2015/11/The-Elephant-Phu-My-Hung-f.jpg"  width="800px" alt="The Tavern">
